<nav class="card navbar-static-top navbar-inverse mdc-bg-grey-900 mdc-text-grey-50">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="img img-brand" src="assets/images/binbash-thumb.png" alt="Brand" />
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a ng-href="#">Home</a>
                </li>
                <li><a ng-href="#">About</a>
                </li>
                <li><a ng-href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>