.img-brand {
    margin-top: 5px;
    max-width: 40px !important;
}

.img-controller {
    background-size: contain;
    min-height: 170px;
}

.btn {
    border-color: transparent !important;
}

.btn-fab {
    padding: 13px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}